// Navigation Styles here
header {
    font-size: 2rem;
    border-bottom: 2px dashed @navigation-border;
    padding-bottom: 30px;
    padding-top: 30px;
    
    .flex-header();
    
    @media @mobile {
        .flex-nav-mobile();
        padding: 0;
    }

    nav {
        // border: 1px solid red;
        .flex-nav();
        margin: 0;
        width: 50%;

        @media @mobile {
            justify-content: space-evenly;
            width: 100vw;
            padding: 1%;
        }

        @media @laptop {
           background: gray;
        }

        a {
            text-decoration: none;
            color: @font-color;
            
        }
    }

}